body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-btn-primary {
  width: fit-content;
  background-color:  #2a0845;
  color: white;
  height: 40px;
  font-weight: 500;
}

.ant-btn-primary:hover {
  background-color:  #D3CCE3;
  border-color:#2a0845;
  color:#2a0845;
}


.ant-btn-default {
  width: fit-content;
  height: 40px;
  background-color: transparent;
  border-color: #2a0845;
  color:#2a0845;
  font-weight: 500;
}

.ant-btn-default:hover {
  width: fit-content;
  height: 40px;
  background-color: transparent;
  border-color: #ffaf7b;
  color:#ffaf7b;
  font-weight: 500; 

}