body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-btn-primary {
  width: fit-content;
  background: linear-gradient(135deg, #654ea3, #1D2B64 );
  /* background-color:  #654ea3; */
  color:white;
  height: 40px;
  border-color: none;
}

.ant-btn-default {
  width: fit-content;
  height: 40px;
  background-color:  #fdffff;
  border-color: #1D2B64;
  color: #1D2B64;
}